<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>location</key>
	<array/>
	<key>rundate</key>
	<array/>
	<key>runtime</key>
	<array/>
	<key>runpics</key>
	<array/>
</dict>
</plist>
